# [PhantomX Pincher] Future Technology Devices International, Ltd FT232 Serial (UART) IC

SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", GROUP="users", MODE="0666"
