<?xml version="1.0"?>
<!-- Macro for mounting PhantomX Pincher Robot Arm -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <xacro:include filename="$(find phantomx_pincher_description)/urdf/phantomx_pincher_utils.xacro"/>


  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:property name="base_mount_joint_name" value="base_mount_fixed_joint"/>
  <xacro:property name="base_mount_joint_type" value="fixed"/>
  <xacro:property name="base_mount_joint_origin_xyz" value="0.0 -0.0295 0.064"/>
  <xacro:property name="base_mount_joint_origin_rpy" value="0.0 0.0 ${-pi/2}"/>
  <xacro:property name="base_mount_link_name" value="base_mount_link"/>
  <xacro:property name="base_mount_link_mu" value="1.0"/>
  <xacro:property name="base_mount_link_mesh" value="phantomx_pincher_mount"/>
  <xacro:property name="base_mount_link_collision_type" value="box"/>
  <xacro:property name="base_mount_link_collision_box_size" value="0.104 0.104 0.048"/>
  <xacro:property name="base_mount_link_mesh_offset_collision_xyz" value="0.0 0.0 0.024"/>
  <xacro:macro name="base_mount" params="
    prefix
    child
    collision:=true
    gazebo_preserve_fixed_joint:=false
  ">
    <xacro:phantomx_pincher_joint parent="${prefix}${base_mount_link_name}" child="${prefix}${child}" joint_name="${prefix}${base_mount_joint_name}" joint_type="${base_mount_joint_type}" joint_origin_xyz="${base_mount_joint_origin_xyz}" joint_origin_rpy="${base_mount_joint_origin_rpy}" gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"/>
    <xacro:phantomx_pincher_link link_name="${prefix}${base_mount_link_name}" mesh="${base_mount_link_mesh}" collision="${collision}" collision_type="${base_mount_link_collision_type}" collision_box_size="${base_mount_link_collision_box_size}" mesh_offset_collision_xyz="${base_mount_link_mesh_offset_collision_xyz}" mu="${base_mount_link_mu}"/>
  </xacro:macro>

  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:property name="task_board_mount_joint_name" value="task_board_mount_fixed_joint"/>
  <xacro:property name="task_board_mount_joint_type" value="fixed"/>
  <xacro:property name="task_board_mount_joint_origin_xyz" value="0.0 0.0 0.003"/>
  <xacro:property name="task_board_mount_joint_origin_rpy" value="0.0 0.0 0.0"/>
  <xacro:property name="task_board_mount_link_name" value="task_board_mount_link"/>
  <xacro:property name="task_board_mount_link_mu" value="1.0"/>
  <xacro:property name="task_board_mount_link_mesh" value="task_board_module_phantomx_pincher_mount"/>
  <xacro:property name="task_board_mount_link_collision_type" value="box"/>
  <xacro:property name="task_board_mount_link_collision_box_size" value="0.148 0.148 0.003"/>
  <xacro:property name="task_board_mount_link_mesh_offset_collision_xyz" value="0.0 0.0 0.0015"/>
  <xacro:macro name="task_board_mount" params="
    prefix
    child
    collision:=true
    gazebo_preserve_fixed_joint:=false
  ">
    <xacro:phantomx_pincher_joint parent="${prefix}${task_board_mount_link_name}" child="${prefix}${child}" joint_name="${prefix}${task_board_mount_joint_name}" joint_type="${task_board_mount_joint_type}" joint_origin_xyz="${task_board_mount_joint_origin_xyz}" joint_origin_rpy="${task_board_mount_joint_origin_rpy}" gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"/>
    <xacro:phantomx_pincher_link link_name="${prefix}${task_board_mount_link_name}" mesh="${task_board_mount_link_mesh}" collision="${collision}" collision_type="${task_board_mount_link_collision_type}" collision_box_size="${task_board_mount_link_collision_box_size}" mesh_offset_collision_xyz="${task_board_mount_link_mesh_offset_collision_xyz}" mu="${task_board_mount_link_mu}"/>
  </xacro:macro>

  <!--       -->
  <!-- Macro -->
  <!--       -->
  <xacro:property name="task_board_joint_name" value="task_board_fixed_joint"/>
  <xacro:property name="task_board_joint_type" value="fixed"/>
  <xacro:property name="task_board_joint_origin_xyz" value="-0.075 0.0 0.024"/>
  <xacro:property name="task_board_joint_origin_rpy" value="0.0 0.0 ${pi/2}"/>
  <xacro:property name="task_board_link_name" value="task_board_link"/>
  <xacro:property name="task_board_link_mu" value="1.0"/>
  <xacro:property name="task_board_link_mesh" value="task_board"/>
  <xacro:property name="task_board_link_collision_type" value="mesh"/>
  <xacro:property name="task_board_module_joint_origin_xyz" value="0.075 0.0 0.024"/>
  <xacro:property name="task_board_module_joint_origin_rpy" value="0.0 0.0 0.0"/>
  <xacro:property name="task_board_module_link_name" value="task_board_module_link"/>
  <xacro:macro name="task_board" params="
    prefix
    child
    collision:=true
    gazebo_preserve_fixed_joint:=false
  ">
    <xacro:phantomx_pincher_joint parent="${prefix}${task_board_link_name}" child="${prefix}${child}" joint_name="${prefix}${task_board_joint_name}" joint_type="${task_board_joint_type}" joint_origin_xyz="${task_board_joint_origin_xyz}" joint_origin_rpy="${task_board_joint_origin_rpy}" gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"/>
    <xacro:phantomx_pincher_link link_name="${prefix}${task_board_link_name}" mesh="${task_board_link_mesh}" collision="${collision}" collision_type="${task_board_link_collision_type}" mu="${task_board_link_mu}"/>

    <xacro:phantomx_pincher_virtual_link parent="${prefix}${task_board_link_name}" link_name="${prefix}${task_board_module_link_name}" joint_origin_xyz="${task_board_module_joint_origin_xyz}" joint_origin_rpy="${task_board_module_joint_origin_rpy}" gazebo_preserve_fixed_joint="${gazebo_preserve_fixed_joint}"/>
  </xacro:macro>

</robot>
